:host {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #f8f9fa;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #343a40;
    color: #f8f9fa;
  }
  button.active {
    background-color: #343a40;
    color: #f8f9fa;
  }
   .pagination-container{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7px;
  }