<div class="pagination-container">
    <button (click)="goToFirstPage()">First</button>
    <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)"><i class="fa-solid fa-angle-left"></i>
        Previous</button>

    <div *ngFor="let page of displayedPages">
        <button [class.active]="page === currentPage" (click)="changePage(page)">{{ page }}</button>
    </div>

    <button [disabled]="currentPage === pages.length" (click)="changePage(currentPage + 1)">Next <i
            class="fa-solid fa-angle-right"></i></button>
    <button (click)="goToLastPage()">Last (Page No{{pages.length}})</button>
</div>