<mat-card  *ngIf="isVisibleParent">
  <div class="container">
      <table class="tb" matSort>
          <thead>
              <tr id="tr">
                  <th id="th" class="col-sm-1"><button mat-button >Action </button></th>  
                  <th id="th" class="col" mat-sort-header><button mat-button >Enquiry No<mat-icon>sort</mat-icon></button></th> 
                  <th id="th" class="col" mat-sort-header><button mat-button >Enquiry Date<mat-icon>sort</mat-icon></button></th> 
                  <th id="th" class="col" mat-sort-header><button mat-button >Name<mat-icon>sort</mat-icon></button></th>
                  <th id="th" class="col" mat-sort-header><button mat-button >Mobile<mat-icon>sort</mat-icon></button></th>
                  <th id="th" class="col" mat-sort-header><button mat-button >Vehicle Code<mat-icon>sort</mat-icon></button></th>
             
             
              </tr>
              <tr id="tr">
                   <td id="td" class="col-sm-1">
                      <button mat-raised-button  color="primary" >Add New</button>
                  </td> 
                  <td id="td" colspan="4">
                    <input class="form-control" type="text" [(ngModel)]="searchText" id="searchText" name="searchText"
                    (input)="search()" placeholder="Search">
                  </td>
                  <!-- <td id="td">
                      <input type="text" class="form-control">
                  </td>
                  <td id="td">
                      <input type="text" class="form-control">
                  </td>
                  <td id="td">
                      <input type="text" class="form-control">
                  </td>
                  <td id="td">
                      <input type="text" class="form-control">
                  </td> -->
                  
              </tr>
          </thead>
          <tbody>
              <tr id="tr" *ngFor="let obj of itemsToDisplay; let i = index">
                   <td id="td" class="col-sm-1">
                      <button mat-icon-button  color="primary" (click)="this.editItem(obj);"><mat-icon>edit</mat-icon></button>&nbsp;
                      <button mat-icon-button color="primary"><mat-icon>delete</mat-icon></button>
                  </td> 
                  <td id="td">
                      {{obj.EnquiryNo}}
                  </td>
                  <td id="td">
                      
                      {{obj.EnquiryDt}}
                  </td>
                  <td id="td">
                      {{obj.VisitorName}}
                  </td>
                  <td id="td">
                      {{obj.Mobile}}
                  </td>
                  <td id="td">
                      {{obj.vehcode}}
                  </td>
                  
              </tr>
              
          </tbody>
          <tfoot>
         
  
          </tfoot>
          <app-pagination [recordsPerPage]="10"></app-pagination>
      </table>
      
  </div>
</mat-card>

<div class="example-container" *ngIf="isVisibleChild">
  <div class="row">
      <div class="col-sm-2">
      <button mat-raised-button color="primary">Save</button>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-2">
          <mat-form-field hintLabel="Max 10 characters">
          <mat-label>Enter some input</mat-label>
          <input matInput #input maxlength="10" placeholder="Ex. Nougat">
          <mat-hint align="end">{{input.value.length}}/10</mat-hint>
          </mat-form-field>
      </div>
      <div class="col-sm-2">
          <mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
              <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
          </mat-form-field>
      </div>
  </div>
</div>