<h2 style="text-align: center;font-weight: bold ;">AGENT</h2>
<fieldset style="border: 1px black solid;margin: 5px 5px 5px 5px; ">
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Agent Code">&nbsp; Agent Code</label>
        </div>
         <div class="col-sm-1">
            <input type="text" id="Agent Code" name="Agent Code" class="form-control">
        </div>
    </div>    
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Agent Name">&nbsp; Agent Name</label>
        </div>
         <div class="col-sm-4">
            <input type="text" id="Agent Name" name="Agent Name" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Add1">&nbsp; Add1</label>
        </div>
         <div class="col-sm-4">
            <input type="text" id="Add1" name="Add1" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Add2">&nbsp; Add2</label>
        </div>
         <div class="col-sm-4">
            <input type="text" id="Add2" name="Add2" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Area">&nbsp; Area</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Area" name="Area" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="City">&nbsp; City</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="City" name="City" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="State">&nbsp; State</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="State" name="State" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Pincode">&nbsp; Pincode</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Pincode" name="Pincode" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for=" Phone(o)">&nbsp; Phone(o)</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Phone(o)" name="Phone(o)" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Phone(o)">&nbsp;  Phone(o)</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Phone(o)" name="Phone(o)" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Phone(R)">&nbsp; Phone(R)</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Phone(R)" name="Phone(R)" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Phone(R)">&nbsp;  Phone(R)</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Phone(R)" name="Phone(R)" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Phone(R)">&nbsp; Email</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Email" name="Email" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Fax">&nbsp;  Fax</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Fax" name="Fax" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Mobile">&nbsp;  Mobile</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Mobile" name="Mobile" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Credit Limit">&nbsp; Credit Limit</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Credit Limit" name="Credit Limit" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Acno">&nbsp;  Acno</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Acno" name="Acno" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Op Bal">&nbsp; Op Bal</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Op Bal" name="Op Bal" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Cl.Bal">&nbsp;  Cl.Bal</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Cl.Bal" name="Cl.Bal" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">    
        <div class="col-sm-1">
            <label class="control-label" for="Group">&nbsp; Group</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Group" name="Group" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Sub-grp">&nbsp;  Sub-grp</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="Sub-grp" name="Sub-grp" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="S.S-grp">&nbsp;  S.S-grp</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="S.S-grp" name="S.S-grp" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">
        <div class="col-sm-2">
            <label class="control-label" for="PROPOSAL DISCOUNT">&nbsp; PROPOSAL DISCOUNT</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="PROPOSAL DISCOUNT" name="PROPOSAL DISCOUNT" class="form-control">
        </div>
    </div>   
    <div class="row form-group" id="row">
        <div class="col-sm-2">
            <label class="control-label" for="DIRECT DISCOUNT-[Y/N]">&nbsp; DIRECT DISCOUNT-[Y/N]</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="DIRECT DISCOUNT-[Y/N]" name="DIRECT DISCOUNT-[Y/N]" class="form-control">
        </div>
    </div>   
    <div class="row form-group" id="row">
        <div class="col-sm-2">
            <label class="control-label" for="CASH DISCOUNT">&nbsp; CASH DISCOUNT</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="CASH DISCOUNT" name="CASH DISCOUNT" class="form-control">
        </div>
    </div>   
    <div class="row form-group" id="row">
        <div class="col-sm-2">
            <label class="control-label" for="MARGIN">&nbsp; MARGIN</label>
        </div>
         <div class="col-sm-2">
            <input type="text" id="MARGIN" name="MARGIN" class="form-control">
        </div>
        <div class="col-sm-2"> 
            <input type="checkbox" id="ACTIVE" name="ACTIVE">
            <label class="control-label" for="ACTIVE">ACTIVE</label>
        </div>
    </div> 
</fieldset>
    