.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 100%;
    margin: 0;
}  
.app-container1 {
    height: auto;
    background-color: var(--primary-color);
    color: #eee;
    width: 100%;
} 
.app-sidenav {
    width: auto;
    background-color: var(--primary-color);
    color: #eee;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
} 
.app-list-item{
    color: #eee;
    margin-left: 10px;
}
.icons {
    color: #eee; 
}