<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
    <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
        <thead>
            <tr>
               
                <th class="col">CODE</th> 
                <th class="col">NAME</th>
               

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="Code" id="Code" class="form-control">
                </td>
                <td>
                    <input type="text" name="Name" id="Name" class="form-control">
                </td>
                

            </tr>

        </tbody>
    </table>
</div>
   <div class="col-sm-1">
       <label class="control-label" for="code">Code.</label>

   </div>
    <div class="col-sm-1">
       <input type="text" id="code" name="code" class="form-control">

    </div>
    <div class="col-sm-1">
        <label style="width: 50rem;" class="control-label" for="21 TO 49-SALES- 51 TO 100 PURCHASE">21 TO 49-SALES- 51 TO 100 PURCHASE</label>
 
    </div>
    <div class="row form-group" style="margin-top: 10px;"></div>
    <div class="col-sm-1">
       <label class="control-label" for="name">Name</label>

    </div>
    <div class="col-sm-3">
        <input type="text" id="name" name="name" class="form-control">

    </div>
<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-1">
       <label style="width: 10rem; background-color: rgb(239, 46, 56);" class="control-label" for="SALES GST RATES">SALES GST RATES</label>
</div>
     <div class="col-sm-1"></div>
     <div class="col-sm-1">
        <label class="control-label" for="CGST">CGST%</label>
</div>
     <div class="col-sm-1">
        <input type="text" id="CGST" name="CGST" class="form-control">
</div>
    <div class="col-sm-1">
        <label class="control-label" for="SGST">SGST%</label>
</div>
    <div class="col-sm-1">
        <input type="text" id="SGST" name="SGST" class="form-control">
</div>
    <div class="col-sm-1">
       <label class="control-label" for="IGST">IGST%</label>
</div>
     <div class="col-sm-1">
       <input type="text" id="IGST" name="IGST" class="form-control">
</div>
     <div class="col-sm-1">
       <label class="control-label" for="GST CESS">GST CESS%</label>
</div>
     <div class="col-sm-1">
       <input type="text" id="GST CESS" name="GST CESS" class="form-control">
</div>
<div class="row form-group" style="margin-top: 10px;"></div>
<div class="col-sm-1">
    <label style="width: 12rem; background-color: rgb(42, 241, 16);" class="control-label" for="SALES GST RATES">PURCHASE GST RATES</label>
</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1">
     <label class="control-label" for="cgst">CGST%</label>
</div>
  <div class="col-sm-1">
     <input type="text" id="cgst" name="cgst" class="form-control">
</div>
 <div class="col-sm-1">
     <label class="control-label" for="sgst">SGST%</label>
</div>
 <div class="col-sm-1">
     <input type="text" id="sgst" name="sgst" class="form-control">
</div>
 <div class="col-sm-1">
    <label class="control-label" for="igst">IGST%</label>
</div>
  <div class="col-sm-1">
    <input type="text" id="igst" name="igst" class="form-control">
</div>
  <div class="col-sm-1">
    <label class="control-label" for="gst cess">GST CESS%</label>
</div>
  <div class="col-sm-1">
    <input type="text" id="gst cess" name="gst cess" class="form-control">
</div>
<div class="row form-group" style="margin-top: 10px;"></div>
<div class="col-sm-1"> 
    <input type="checkbox" id="ACTIVE" name="ACTIVE">
    <label class="control-label" for="ACTIVE">ACTIVE</label>
</div>
</div>
