<h2 style="text-align: center;font-weight: bold ;">INSURANCE MASTER</h2>
<fieldset style="border: 1px black solid;margin: 10px 10px 10px 10px; ">
<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
        <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
            <thead>
              <tr>
                <th class="col">Code</th> 
                <th class="col">Name</th>
              </tr>
            </thead>
          <tbody>
             <tr>
                   <td>
                     <input type="text" name="Code" id="Code" class="form-control">
                    
                    </td>
                   <td>
                     <input type="text" name="Name" id="Name" class="form-control">
                   </td>  
              </tr> 
           </tbody>
        </table>
    </div>
        <div class="col-sm-9">
             <div class="row" id="row">
                <div class="col-sm-1">
                  <label class="control-label" for="code">Code</label>
                 </div>
                <div class="col-sm-1">
                  <input type="text" id="code" name="code" class="form-control">
                </div>
              </div>
              <div class="row" id="row">
                  <div class="col-sm-1">
                    <label class="control-label" for="name">Name</label>
                  </div>
                  <div class="col-sm-3">
                     <input type="text" id="name" name="name" class="form-control">
                   </div>
               </div>
                <div class="row" id="row">
                  <div class="col-sm-1">
                    <label class="control-label" for="A/C.Code">A/C.Code</label>
                  </div>
                  <div class="col-sm-1">
                    <input type="text" id="A/C.Code" name="A/C.Code" class="form-control">
                  </div>
                  <div class="col-sm-2">
                    <input type="text" id="A/C.Code" name="A/C.Code" class="form-control">
                  </div>
                </div>
                  <div class="col-sm-1"> 
                    <input type="checkbox" id="ACTIVE" name="ACTIVE">
                    <label class="control-label" for="ACTIVE">ACTIVE</label>
                 </div> 
         </div>
    
            
     
</div>
</fieldset>