#row {
    margin-top: 10px;
}


#btnimg{
    width: 20px;
    margin-right: 5px;
}
td{
    background-color: blanchedalmond;
}
table{
    background-color: blanchedalmond;
}
th{
    background-color: blanchedalmond;
}