<head>
    <link href=
        "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        rel="stylesheet" />
</head>
<body class="container" > <br />
    <h1 style="text-align: center;">MISCELLANEOUS  &nbsp;  PURCHASE</h1>
    <form class="form-horizontal" role="form" autocomplete="false" #frmVehiclePurchase="" id="frmAgentEnquiry">
    <!-- <page-action (getActionName)="this.GetActionName($event);"></page-action> -->
        <!-- <app-page-action (getActionName)="this.GetActionName($event);"></app-page-action> -->
        <div class="row form-group">
            <div class="col-sm-2">
                <button type="button" id="button" class="ui circular teal button"  [disabled]="">
                <img src="../../assets/images/new-document.png" id="btnimg" >
                New 
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="ui circular teal button" [disabled]="">
                <img src="../../assets/images/folder.png" id="btnimg" >
                Open 
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="ui circular teal button" [disabled]="" (click)="this.router.navigate(['']);">
                <img src="../../assets/images/close.png" id="btnimg" >
                Close 
                </button>
            </div>
        </div>
         
        
        <fieldset style="border: solid black 1px;" id="row">
            <div class="row form-group" id="row">
                <div class="col-sm-6">
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label for="DBCode"  class="control-label">DB CODE</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="DBCode" name="DBCode">
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="DBCode" name="DBCode">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label for="DocumentNo"  class="control-label">Document No</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="DocumentNo" name="DocumentNo">
                        </div>
                        <div class="col-sm-2">
                            <label for="Doc Date"  class="control-label">Doc Date</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="Doc Date" name="Doc Date">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label for="InvoiceNo"  class="control-label">Invoice No</label>
                        </div>
                        <div class="col-sm-1">
                            <input type="text" class="form-control" id="InvoiceNo" name="InvoiceNo">
                        </div>
                        <div class="col-sm-2">
                            <label for="InvoiceDate"  class="control-label">INV. Date</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="InvoiceDate" name="InvoiceDate">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label for="ACCode"  class="control-label">A/C Code/Name</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="ACCode" name="ACCode">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="ACName" name="ACName">
                        </div>
                
                        <div class="col-sm-5">
                            <textarea type="text" class="form-control" id="A/C Code/Name" name="A/C Code/Name">
        
                            </textarea>
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label for="Location"  class="control-label">Location</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Location" name="Location">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="Location" name="Location">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label class="control-label" for="PUR A/C..">PUR A/C..</label>
                        </div>
                           <div class="col-sm-2">
                              <input type="text" id="PUR A/C.." name="PUR A/C.." class="form-control">
                   
                           </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="PUR A/C.." name="PUR A/C..">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row form-group" id="row">
                        <div class="col-sm-3">
                            <label class="control-label" for="Goods Inward No">Goods Inward No:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="Goods Inward No" name="Goods Inward No">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label class="control-label" for="Goods Inward Date">Goods Inward Date:</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="Goods Inward Date" name="Goods Inward Date">
                        </div>
                        <div class="col-sm-3">
                            <label for="Upload By part[Y/N]"  class="control-label">Upload By part [Y/N]</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Upload By part[Y/N]" name="Upload By part[Y/N]">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label class="control-label" for="Lr No">Lr No</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="Lr No" name="Lr No">
                        </div>
                        <div class="col-sm-3">
                            <label for="Pur Branch"  class="control-label">Pur Branch</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Pur Branch" name="Pur Branch">
                        </div>
                    </div>
                    <div class="row form-group" id="row">
                        <div class="col-sm-2">
                            <label class="control-label" for="Lr Date">Lr Date</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="Lr Date" name="Lr Date">
                        </div>
                        <div class="col-sm-3">
                            <label for="Ver Branch"  class="control-label">Ver Branch</label>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="Ver Branch" name="Ver Branch">
                        </div>
                    </div>
                        <div class="row form-group" id="row">
                            <div class="col-sm-2">
                                <label class="control-label" for="Challan No">Challan No</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="Challan No" name="Challan No">
                            </div>
                        </div>
                        <div class="row form-group" id="row">
                            <div class="col-sm-2">
                                <label class="control-label" for="Challan No">Challan Date</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="Challan Date" name="Challan Date">
                            </div>
                        </div>
                        <div class="row form-group" id="row">
                            <div class="col-sm-3">
                                <label class="control-label" for="Payment Due Date">Payment Due Date</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id="Payment Due Date" name="Payment Due Date">
                            </div>
                        </div>
                        <div class="row form-group" id="row">
                            <div class="col-sm-3">
                                <label class="control-label" for="Payment Date">Payment Date</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="date" class="form-control" id=" Payment Date" name="Payment Date">
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label" for="Payment Doc No">Payment Doc No</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id=" Payment Doc No" name="Payment Doc No">
                            </div>
                        </div>
                    
                </div>
                

            </div>
             
            
        
        </fieldset>
        <fieldset style="border: 1px black solid;" id="row">
            <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;background-color: blanchedalmond;" border="2px">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">HSN No.</th>
                        <th scope="col">GST CD</th>
                        <th scope="col">CGSTR</th>
                        <th scope="col">SGSTR</th>
                        <th scope="col">IGSTR</th>
                        <th scope="col">GST CESSR</th>
                        <th scope="col">QTY</th>
                        <th scope="col">RATE</th>
                        <th scope="col">DISC</th>
                        <th scope="col">F. RATE</th>
                        <th scope="col">Tot Amt.</th>
                        <th scope="col">CGST AMT.</th>
                        <th scope="col">SGST AMT.</th>
                        <th scope="col">IGST AMT.</th>
                        <th scope="col">GCESS AMT.</th>
                        <th scope="col">TOTAL GST</th>
                        <th scope="col">ROUND</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col">REMARKS</th>
                        <th scope="col">MISC A/C</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>

                        </td>
                        <td >
                            <input type="text" id="Code" name="Code"  class="form-control">
                        </td>
                        <td >
                            <input type="text" id="Name" name="Name" class="form-control">
                        </td>
                        <td>
                            <input type="text" id="HSNNo" name="HSNNo" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="GSTCD" name="GSTCD" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="CGSTR"  name="CGSTR" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="SGSTR" name="SGSTR" class="form-control">
                        </td>
                  
                        <td >
                            <input type="text" id="IGSTR" name="IGSTR" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="GSTCESSR" name="GSTCESSR" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="QTY" name="QTY" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="RATE" name="RATE" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="DISC" name="DISC" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="FRATE" name="FRATE" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="TotAmt" name="TotAmt" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="CGSTAMT"name="CGSTAMT" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="SGSTAMT" name="SGSTAMT" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="IGSTAMT" name="IGSTAMT" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="GCESSAMT" name="GCESSAMT" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="TotalGST" name="TotalGST" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="ROUND" name="ROUND" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="AMOUNT" name="AMOUNT" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="REMARKS" name="REMARKS" class="form-control">
                        </td>
                        <td >
                            <input type="text" id="MISCA/C" name="MISCA/C" class="form-control">
                        </td>
                        
                        
                    </tr>
                </tbody>
                <tfoot>
                   <br/><br/>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    
                        <td>TOTAL AMOUNT</td>
                        <td>CGST AMT.</td>
                        <td>SGST AMT.</td>
                        <td>IGST AMT.</td>
                        <td>GSTCESS</td>
                        <td>TOT.AMOUNT</td>
                        <td>ROUND OF</td>
                        <td>GROSS AMOUNT</td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="text" id="TotalBasicValue" name="TotalBasicValue" class="form-control">
                        </td>
                        <td>
                            <input type="text" id="CGSTAmt" name="CGSTAmt" class="form-control">
                        </td>
                        <td>
                            <input type="text" id="SGSTAmt" name="SGSTAmt" class="form-control">
                        </td>
                        <td>
                            <input type="text" id="IGSTAmt" name="IGSTAmt" class="form-control">
                        </td>
                        <td>
                            <input type="text" id="GSTCESS" name="GSTCESS" class="form-control">
                        </td>
                        <td>
                            <input type="text" id="TotalAmount" name="TotalAmount" class="form-control"> 
                        </td>
                        <td>
                            <input type="text" id="Discount" name="Discount" class="form-control"> 
                        </td>
                        <td>
                            <input type="text" id="BillAmount" name="BillAmount" class="form-control"> 
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="text" id="Diffrence" name="Diffrence" class="form-control"><br/>
                            Discount: <br/> <br/>Grand Total:
                        </td>
                        <td >
                           
                            <input type="text" id="Diffrence" name="Diffrence" class="form-control"><br/>
                            <input type="text" id="Diffrence" name="Diffrence" class="form-control"><br/>
                            <input type="text" id="Diffrence" name="Diffrence" class="form-control">
                        </td>

                    </tr>
                </tfoot>
            </table>
        </fieldset>
        <fieldset style="border: 1px black solid;" id="row">
            <div class="row form-group" id="row">
                <div class="col-sm-1">
                    <label for="TaxName" class="control-label">Tax Name:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="" name="" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label for="MacSalesACNo" class="control-label">Mac. Sales A/C No.</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="" name="" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label for="JVDocNo" class="control-label">JV Doc.No.</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="JVDocNo" name="JVDocNo" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button id="PassJVInAC" name="PassJVInAC">PASS JV<br/> IN A/C</button>
                </div>

            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-1">
                    <label for="Remark" class="control-label">REMARK:</label>
                </div>
                <div class="col-sm-3">
                    <textarea class="form-control" id="Remark" name="Remark"></textarea>
                </div>
                <div class="col-sm-2">
                    <button id="AttachedDocument" name="AttachedDocument">ATTACHED DOCUMENT</button>
                </div>
                <div class="col-sm-2">
                    <button id="OpenDocument" name="OpenDocument">OPEN<br/> DOCUMENT</button>
                </div>

            </div>
        </fieldset>
    </form>
</body>