.row{
    margin-top: 10px;
}
#card{
    padding: 15px;
    margin: 10px;
}
#button{
    background-color: var(--primary-color);
    color: #eee;
}
#btn{
    background-color: var(--secondary-color);
    color: #eee;
}
.example-container{
    /* background-color: aqua; */
    padding: 20px;
}
.card1{
    display: flex;
    justify-content: center;
}
.head{
    display: flex;
    justify-content: center;
}