button{
    width: auto;
    margin-top: 10px;
    

}

#button{
    margin-left: 20px;
}
#btnimg{
    width: 20px;
    margin-right: 5px;
}

body{
background-color: khaki;
  /* background-position: 0% 0px;
  background-size:auto;

  width: 100%;
  display: block;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-repeat: no-repeat; */
}