<h2 style="text-align: center;font-weight: bold ;">COLOR</h2>
<fieldset style="border: 1px black solid;margin: 10px 10px 10px 10px; ">
<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
    <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
        <thead>
            <tr>
               
                <th class="col">Balance sheet Group</th> 

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="Balance sheet Group" id="Balance sheet Group" class="form-control">
                </td>

            </tr>

        </tbody>
    </table>
    </div>
    <div class="col-sm-9">
        <div class="row" id="row">
            <div class="col-sm-1">
                <label class="control-label" for="code">Code</label>
              </div>
               <div class="col-sm-1">
                  <input type="text" id="code" name="code" class="form-control">
              </div>
               <div class="col-sm-1">
                  <label class="control-label" for="name">Name</label>
              </div>
               <div class="col-sm-3">
                  <input type="text" id="name" name="name" class="form-control">
              </div>
        </div>
        <div class="row" id="row">
            <div class="col-sm-2">
                <label class="control-label" for="Base Color">Base Color</label>
           </div>
             <div class="col-sm-3">
                <input type="text" id="Base Color" name="Base Color" class="form-control">
           </div>
             <div class="col-sm-1">
                 <label class="control-label" for="GRP">GRP</label>
           </div>
             <div class="col-sm-1">
                  <input type="text" id="GRP" name="GRP" class="form-control">
           </div>
             <div class="col-sm-1">
                 <label class="control-label" for="SGRP">SGRP</label>
           </div>
            <div class="col-sm-1">
                 <input type="text" id="SGRP" name="SGRP" class="form-control">
           </div>
        </div>
        <div class="row" id="row">
            <div class="col-sm-1">
                <label class="control-label" for="SSGRP">SSGRP</label>
         </div>
          <div class="col-sm-1">
                <input type="text" id="SSGRP" name="SSGRP" class="form-control">
     
     </div>
          <div class="col-sm-1">
                 <input type="text" id="ssgrp" name="ssgrp" class="form-control">
     </div>
     <div class="col-sm-1"> 
        <input type="checkbox" id="ACTIVE" name="ACTIVE">
        <label class="control-label" for="ACTIVE">ACTIVE</label>
</div>
        </div>
    </div>
    

      
</div>
</fieldset>