<div class="row form-group" style="margin-top: 10px;">
   <div class="col-sm-1">
        <label class="control-label" for="code">Code:</label>

    </div>
    <div class="col-sm-1">
         <input type="text" id="code" name="code" class="form-control">

</div>
     <div class="col-sm-1">
          <label class="control-label" for="name">Name:</label>

</div>
     <div class="col-sm-3">
          <input type="text" id="name" name="name" class="form-control">
</div>
    <div class="col-sm-1">
           <label class="control-label" for="Con Person">Con Person:</label>

</div>
    <div class="col-sm-3">
            <input type="text" id="Con Person" name="Con Person" class="form-control">
</div>

<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-1">
        <label class="control-label" for="Add1">Add1:</label>
    
    </div>
    <div class="col-sm-3">
    <input type="text" id="Add1" name="Add1" class="form-control">
    </div>
    <div class="col-sm-1">
        <label class="control-label" for="Add2">Add2:</label>
    
    </div>
    <div class="col-sm-3">
    <input type="text" id="Add2" name="Add2" class="form-control">
    </div>
    <div class="col-sm-1">
        <label class="control-label" for="Area">Area:</label>
    
    </div>
    <div class="col-sm-1">
        <input type="text" id="Area" name="Area" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="City">City:</label>
        
        </div>
        <div class="col-sm-1">
            <input type="text" id="City" name="City" class="form-control">
            </div>
<div class="row form-group" style="margin-top: 10px;"></div>
     <div class="col-sm-1">
            <label class="control-label" for="Pin">Pin:</label>
     </div>
         <div class="col-sm-1">
            <input type="text" id="Pin" name="Pin" class="form-control">
     </div>
        <div class="col-sm-1">
             <label class="control-label" for="I/O-In-Out">I/O-In-Out:</label>
            </div>
        <div class="col-sm-1">
             <input type="text" id="I/O-In-Out" name="I/O-In-Out" class="form-control">
            </div>
        <div class="col-sm-1">
              <label class="control-label" for="Phone(o)">Phone(o):</label>
            </div>
         <div class="col-sm-1">
              <input type="text" id="Phone(o)" name="Phone(o)" class="form-control">
             </div>
          <div class="col-sm-1">
               <label class="control-label" for="Phone(o)">Phone(o):</label>
            </div>
          <div class="col-sm-1">
                <input type="text" id="Phone(o)" name="Phone(o)" class="form-control">
             </div>
             <div class="col-sm-1">
                <label class="control-label" for="Fax">Fax:</label>
             </div>
           <div class="col-sm-1">
                 <input type="text" id="Fax" name="Fax" class="form-control">
              </div>
              <div class="col-sm-1">
                <label class="control-label" for="Mobile">Mobile:</label>
             </div>
           <div class="col-sm-1">
                 <input type="text" id="Mobile" name="Mobile" class="form-control">
              </div>
              <div class="col-sm-1"> 
                <input type="checkbox" id="ACTIVE" name="ACTIVE">
                <label class="control-label" for="ACTIVE">ACTIVE</label>
            </div>
</div>
