<mat-toolbar color="primary">
    
    <span style="font-size: 25PX;font-weight: bold;">Bajaj Autolink</span>
    
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="changeuser">
        <mat-icon class="icons">account_circle</mat-icon>
    </button>

    <mat-menu #changeuser [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="admin/login">
            <mat-icon class="icons">person</mat-icon><span>Admin Login</span>
        </button>
    </mat-menu>
    <span class="toolbar-item-spacer"></span>
    <!-- <button mat-icon-button matTooltip="Like">
        <mat-icon class="icons">favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share">
        <mat-icon class="icons">share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
        <mat-icon class="icons">notifications</mat-icon>
    </button> -->
    <span>Welcome,{{ 'UserName' }}</span>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon class="icons">account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon class="icons">person</mat-icon><span>My Account</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon class="icons">settings</mat-icon><span>Settings</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon class="icons">help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="#">
            <mat-icon class="icons">exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
</mat-toolbar>

<app-navbar></app-navbar>
