<h2 style="text-align: center;font-weight: bold ;">HPA</h2>
<fieldset style="border: solid black 1px;" id="row">
    <div class="row form-group" id="row">
        <div class="col-sm-2">
            <label class="control-label" for="Finance Code">&nbsp; Finance Code</label>
        </div>
        <div class="col-sm-1">
            <input type="text" id="Finance Code" name="Finance Code" class="form-control">
        </div>
        <div class="col-sm-2"> 
            <input type="checkbox" id="BANK Y/N" name="BANK Y/N">
            <label class="control-label" for="BANK Y/N">BANK Y/N</label>
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Name">&nbsp; Name</label>
        </div>
        <div class="col-sm-3">
            <input type="text" id="Name" name="Name" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Add1">&nbsp; Add1</label>
        </div>
        <div class="col-sm-3">
            <input type="text" id="Add1" name="Add1" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Add2">&nbsp; Add2</label>
        </div>
        <div class="col-sm-3">
            <input type="text" id="Add2" name="Add2" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Area">&nbsp; Area</label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="Area" name="Area" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="City">&nbsp; City</label>
        </div>
        <div class="col-sm-2">
             <input type="text" id="City" name="City" class="form-control">
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="State">&nbsp; State</label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="State" name="State" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Pincode">&nbsp; Pincode</label>
        </div>
        <div class="col-sm-2">
             <input type="text" id="Pincode" name="Pincode" class="form-control">
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Phone(0)">&nbsp; Phone(0)</label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="Phone(0)" name="Phone(0)" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Phone(0)">&nbsp; Phone(0)</label>
        </div>
        <div class="col-sm-2">
             <input type="text" id="Phone(0)" name="Phone(0)" class="form-control">
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Email">&nbsp; Email</label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="Email" name="Email" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="Fax">&nbsp; Fax</label>
        </div>
        <div class="col-sm-2">
             <input type="text" id="Fax" name="Fax" class="form-control">
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="Email2">&nbsp; Email2</label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="Email2" name="Email2" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">
        <div class="col-sm-2">
            <label class="control-label" for="SEGEMENT CODE">&nbsp; SEGEMENT CODE</label>
        </div>
        <div class="col-sm-1">
            <input type="text" id="SEGEMENT CODE" name="SEGEMENT CODE" class="form-control">
        </div>
    </div>
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="GRP">&nbsp; GRP</label>
        </div>
        <div class="col-sm-1">
            <input type="text" id="GRP" name="GRP" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="SGRP">&nbsp; SGRP</label>
        </div>
        <div class="col-sm-1">
             <input type="text" id="SGRP" name="SGRP" class="form-control">
        </div>
        <div class="col-sm-1">
            <label class="control-label" for="SSGRP">&nbsp; SSGRP</label>
        </div>
        <div class="col-sm-1">
             <input type="text" id="SSGRP" name="SSGRP" class="form-control">
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="PAYOUT">&nbsp; PAYOUT</label>
        </div>
        <div class="col-sm-2">
            <input type="text" id="PAYOUT" name="PAYOUT" class="form-control">
        </div>
        <div class="col-sm-2">
            <label class="control-label" for="OUR FINANCE">&nbsp; OUR FINANCE</label>
        </div>
        <div class="col-sm-2">
             <input type="text" id="OUR FINANCE" name="OUR FINANCE" class="form-control">
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="PF">&nbsp; PF</label>
        </div>
        <div class="col-sm-1">
            <input type="text" id="PF" name="PF" class="form-control">
        </div>
        <div class="col-sm-2"> 
            <input type="checkbox" id="Y/N" name="Y/N">
            <label class="control-label" for="Y/N">Y/N</label>
        </div>
        <div class="col-sm-2"> 
            <input type="checkbox" id="ACTIVE" name="ACTIVE">
            <label class="control-label" for="ACTIVE">ACTIVE</label>
        </div>
    </div> 
    <div class="row form-group" id="row">
        <div class="col-sm-1">
            <label class="control-label" for="PO">&nbsp; PO</label>
        </div>
        <div class="col-sm-1">
            <input type="text" id="PO" name="PO" class="form-control">
        </div>
    </div>
</fieldset>