<mat-card *ngIf="isVisibleParent">
    <div class="container">
        <table class="tb" matSort>
            <thead>
                <tr id="tr">
                    <th id="th"><button mat-button>Action<mat-icon></mat-icon></button></th>
                    <!-- <th id="th" class="col" mat-sort-header="City"><button mat-button>
                        Invoice No<mat-icon>sort</mat-icon></button></th> -->
                    <th id="th" class="col" mat-sort-header="City"><button mat-button>
                        Ac No<mat-icon>sort</mat-icon></button></th>
                    <th id="th" class="col" mat-sort-header="City"><button mat-button>
                        Ac Name<mat-icon>sort</mat-icon></button></th>
                    <th id="th" class="col" mat-sort-header="EnquiryNo"><button mat-button>
                        Doc No<mat-icon>sort</mat-icon></button></th>
                    <th id="th" class="col" mat-sort-header="ENQUIRYDT"><button mat-button>
                        Doc Date<mat-icon>sort</mat-icon></button></th>

                    <th id="th" class="col" mat-sort-header="Mobile"><button mat-button>
                        Amount<mat-icon>sort</mat-icon></button></th>

                    <th id="th" class="col" mat-sort-header="Vehicle Name"><button mat-button>
                        Vehicle Code<mat-icon>sort</mat-icon></button></th>
                    <th id="th" class="col" mat-sort-header="Area"><button mat-button>
                        Vehicle Name <mat-icon>sort</mat-icon></button></th>

                    <th id="th" class="col" mat-sort-header="City"><button mat-button>
                        Gst CD<mat-icon>sort</mat-icon></button></th>
                    <!-- <th id="th" class="col" mat-sort-header="City"><button mat-button>
                        RTO P Ac No<mat-icon>sort</mat-icon></button></th>
                    
                    <th id="th" class="col" mat-sort-header="City"><button mat-button>
                        RTO P Doc No<mat-icon>sort</mat-icon></button></th> -->
                    

                </tr>
                <tr id="tr">
                    <td id="td" class="col-sm-2">
                        <button mat-raised-button style="background-color: #1773ea;color: #eee;"
                            (click)="this.newItem()">Add New</button>
                    </td>

                    <td id="td" colspan="6">
                        <input class="form-control" type="text" [(ngModel)]="searchText" id="searchText" name="searchText"
                           (input)="search()" placeholder="Search">
                    </td>
                    <!-- <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td> -->
                    <!-- <td id="td">
                        <input type="text" class="form-control">
                    </td>
                    <td id="td">
                        <input type="text" class="form-control">
                    </td> -->
                </tr>
            </thead>
            <tbody>
                <tr id="tr" *ngFor="let obj of itemsToDisplay; let i = index">
                    <td id="td" class="col-sm-1">
                        <button mat-icon-button color="primary"
                            (click)="this.editItem(obj);"><mat-icon>edit</mat-icon></button>&nbsp;
                        <button mat-icon-button color="primary"><mat-icon>delete</mat-icon></button>
                    </td>
                    <td id="td">
                        {{obj.AcNo}}
                    </td>
                    <td id="td">

                        {{obj.ACNAME}}
                    </td>

                    <td id="td">
                        {{obj.DOCNO}}
                    </td>

                    <td id="td">
                        {{obj.DOCDT}}
                    </td>
                    <td id="td">
                        {{obj.Amount}}
                    </td>
                    <td id="td">
                        {{obj.VehicleCode}}
                    </td>
                    <td id="td">
                        {{obj.ItemName}}
                    </td>
                    
                     <td id="td">
                        {{obj.GSTCD}}
                    </td>
                    <!-- <td id="td">
                        {{obj.rtopaiddb}}
                    </td>
                    <td id="td">
                        {{obj.rtopacno}}
                    </td>
                    <td id="td">
                        {{obj.rtopDocNo}}
                    </td> -->
                    
                </tr>

            </tbody>
            <tfoot>

            </tfoot>



            <app-pagination [recordsPerPage]="10"></app-pagination>

        </table>
    </div>
</mat-card>
<div class="example-container" *ngIf="isVisibleChild">
    <div class="row">
        <div class="col-sm-2">
            <button mat-raised-button style="background-color: #1773ea;color: #eee;"
                (click)="this.saveledgeraccount()">Save</button>
        </div>
        <div class="col-sm-2">
            <button mat-raised-button style="background-color: #1773ea;color: #eee;" (click)="this.back()">Back</button>
        </div>
        <div class="col-sm-2">
            <button mat-raised-button style="background-color: #1773ea;color: #eee;"
                (click)="this.back()">Cancle</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <mat-form-field hintLabel="Max 10 characters">
                <mat-label>Enter some input</mat-label>
                <input matInput #input maxlength="10" placeholder="Ex. Nougat">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-sm-2">
            <mat-form-field>
                <mat-label>Select me</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>