<head>
    <link href=
        "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        rel="stylesheet" />
</head>
<body class="container" > <br />
    <h1 style="text-align: center;">BOOKING RECEIPT :</h1>
    <form class="form-horizontal" role="form" autocomplete="false" #frmVehiclePurchase="" id="frmAgentEnquiry">
    <!-- <page-action (getActionName)="this.GetActionName($event);"></page-action> -->
        <!-- <app-page-action (getActionName)="this.GetActionName($event);"></app-page-action> -->
        <!-- <div class="row form-group">
            <button type="button" id="button" class="ui circular teal button"  [disabled]="">
                <img src="../../assets/images/new-document.png" id="btnimg" >
              New 
            </button>
            <button type="button" class="ui circular teal button" [disabled]="">
                <img src="../../assets/images/folder.png" id="btnimg" >
                Open 
              </button>
            <a (click)="this.test('E:/Quotation Format.pdf')">abc</a>
        </div>
         -->
         <div class="row form-group">
            <div class="col-sm-2">
            <button type="button" id="button" class="ui circular teal button"  [disabled]="">
                <img src="../../assets/images/new-document.png" id="btnimg" >
              New 
            </button>
            </div>
            <div class="col-sm-2">
            <button type="button" class="ui circular teal button" [disabled]="">
                <img src="../../assets/images/folder.png" id="btnimg" >
                Open 
            </button>
            </div>
            <div class="col-sm-2">
              <button type="button" class="ui circular teal button" [disabled]="" (click)="this.router.navigate(['']);">
                <img src="../../assets/images/close.png" id="btnimg" >
                Close 
              </button>
            </div>
        </div>
        <fieldset style="border: solid black 1px;">
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="searchno"  class="control-label">Search No :</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="searchno" name="searchno" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <button name="newac" id="newac">New A/C.</button>
                </div>
                <div class="col-sm-2">
                    <button name="newdo" id="newdo">New D.O.</button>
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="bookcode"  class="control-label">Book Code :</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="bookcode" name="bookcode" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="bookname" name="bookname" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <label for="accode"  class="control-label">A/C Code/Name :</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="accode" name="accode" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="acname" name="acname" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="Documentno"  class="control-label">Document No.:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="Documentno" name="Documentno" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="docdate"  class="control-label">Date:</label>
                </div>
                <div class="col-sm-2">
                    <input type="date" id="acname" name="acname" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="gsttin"  class="control-label">GST TIN:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="gsttin" name="gsttin" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="amount"  class="control-label">Amount:</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="amount" name="amount" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="drcr"  class="control-label">Dr./Cr.</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="drcr" name="drcr" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="do"  class="control-label">D.O.</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="do" name="do" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="gstcd"  class="control-label">GSTCD</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="gstcd" name="gstcd" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="suppdocno"  class="control-label">Supp. Doc. No:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" id="suppdocno" name="suppdocno" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="Branch"  class="control-label">Branch</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="Branch" name="Branch" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="VerBranch"  class="control-label">Ver Branch</label>
                </div> <div class="col-sm-1">
                    <input type="text" id="VerBranch" name="VerBranch" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="DATE"  class="control-label">DATE</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="DATE" name="DATE" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" id="finreimb" name="finreimb"  >
                    <label for="finreimb"  class="control-label" style="margin-left: 10px; font-size: 15px;font-weight: bold;">Fin. REIMB</label>
                </div>

            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="Particulars"  class="control-label">Particulars</label>
                </div>
                <div class="col-sm-3">
                    <textarea class="form-control" id="Particulars1" name="Particulars1"></textarea>
                </div>
                <div class="col-sm-3">
                    <textarea class="form-control" id="Particulars2" name="Particulars2"></textarea>
                </div>
                <div class="col-sm-3">
                    <textarea class="form-control" id="Particulars3" name="Particulars3"></textarea>
                </div>

            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="BookBalance"  class="control-label">Book Balance</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="BookBalance" name="BookBalance" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="Cash"  class="control-label">Cash</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="Cash" name="Cash" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="A/CBalance"  class="control-label">A/CBalance</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="A/CBalance" name="A/CBalance" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="BANK"  class="control-label">BANK</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="BANK" name="BANK" class="form-control" >
                </div>
                <div class="col-sm-1">
                    <label for="PANBalance"  class="control-label">PAN Balance</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="PANBalance" name="PANBalance" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
                    <thead>
                        <tr>
                           
                            <th class="col">Ac No.</th> 
                            <th class="col">Name</th>
                            <th class="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" name="AcNo" id="AcNo" class="form-control">
                            </td>
                            <td>
                                <input type="text" name="AcName" id="AcName" class="form-control">
                            </td>
                            <td>
                                <input type="text" name="" id="" class="form-control">
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            
        </fieldset>
        <fieldset style="border: solid black 1px;">
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="SalesMan"  class="control-label">SalesMan</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="SalesManCode" name="SalesManCode" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="SalesMan" name="SalesMan" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <label for="Agent"  class="control-label">Agent</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="AgentCode" name="AgentCode" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="AgentName" name="AgentName" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="VehicleCode"  class="control-label">VehicleCode</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="VehicleCode" name="VehicleCode" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="VehicleName" name="VehicleName" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <label for="DeliveryLocation"  class="control-label">Delivery Location</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="DeliveryLocationCode" name="DeliveryLocationCode" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="DeliveryLocation" name="DeliveryLocation" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="SellingBranch"  class="control-label">Selling Branch</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="SellingBranch" name="SellingBranch" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="SellingBranch" name="SellingBranch" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <label for="hpafinanceco"  class="control-label">H.P.A.-Finance Co.</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="hpafinanceco" name="hpafinanceco" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="hpafinanceconame" name="hpafinanceconame" class="form-control" >
                </div>
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="CustomerProfile"  class="control-label">Customer Profile</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="CustomerProfile" name="CustomerProfile" class="form-control" >
                </div>
                <div class="col-sm-3">
                    <input type="text" id="CustomerProfile" name="CustomerProfile" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" id="WithAccessories" name="WithAccessories">
                    <label for="WithAccessories"  class="control-label" style="margin-left: 10px; font-size: 15px;font-weight: bold;">With Accessories?</label>

                </div>
                <div class="col-sm-2">
                    <input type="checkbox" id="WithMeter" name="WithMeter">
                    <label for="WithMeter"  class="control-label" style="margin-left: 10px; font-size: 15px;font-weight: bold;">With Meter?</label>

                </div>
                
            </div>
            <div class="row form-group" id="row">
                <div class="col-sm-2">
                    <label for="AgentEnqNo"  class="control-label">Agent Enq. No.</label>
                </div>
                <div class="col-sm-1">
                    <input type="text" id="AgentEnqNo" name="AgentEnqNo" class="form-control" >
                </div>
                <div class="col-sm-2">
                    <label for="BranchName"  class="control-label">Branch Name</label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="BranchName" name="BranchName">
                        <option>

                        </option>
                    </select>  
                </div>
            </div>
        </fieldset>
        
    </form>
</body>

