<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
    <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
        <thead>
            <tr>
               
                <th class="col">CODE</th> 
                <th class="col">NAME</th>
               

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="Code" id="Code" class="form-control">
                </td>
                <td>
                    <input type="text" name="Name" id="Name" class="form-control">
                </td>
                

            </tr>

        </tbody>
    </table>
</div>
<div class="col-sm-1">
    <label class="control-label" for="code">Code:</label>

</div>
<div class="col-sm-1">
<input type="text" id="code" name="code" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="HSN No">HSN No:</label>

</div>
<div class="col-sm-1">
<input type="text" id="HSN No" name="HSN No" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="GST CD">GST CD:</label>

</div>
<div class="col-sm-1">
<input type="text" id="GST CD" name="GST CD" class="form-control">

</div>
<div class="row form-group" style="margin-top: 10px;"></div>
<div class="col-sm-1">
    <label class="control-label" for="name">Name:</label>

</div>
<div class="col-sm-3">
<input type="text" id="name" name="name" class="form-control">
</div>
<div class="col-sm-1">
    <label class="control-label" for="Desc">Desc:</label>

</div>
<div class="col-sm-3">
<input type="text" id="Desc" name="Desc" class="form-control">
</div>
<div class="col-sm-1">
    <label class="control-label" for="Company">Company:</label>

</div>
<div class="col-sm-3">
    <select id="Company" name="Company" class="form-control">
        <option>
        
        </option>
    </select>
</div>
<div class="row form-group" style="margin-top: 10px;"></div>
<div class="col-sm-1">
    <label class="control-label" for="Brand">Brand:</label>

</div>
<div class="col-sm-3">
<input type="text" id="Brand" name="Brand" class="form-control">
</div>
<div class="col-sm-1">
    <label class="control-label" for="Op.Bal">Op.Bal:</label>

</div>
<div class="col-sm-1">
<input type="text" id="Op.Bal" name="Op.Bal" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="CL.Bal">CL.Bal:</label>

</div>
<div class="col-sm-1">
<input type="text" id="CL.Bal" name="CL.Bal" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="Flag">Flag:</label>

</div>
<div class="col-sm-1">
<input type="text" id="Flag" name="Flag" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="Group Code">Group Code:</label>

</div>
<div class="col-sm-1">
<input type="text" id="Group Code" name="Group Code" class="form-control">

</div>
<div class="row form-group" style="margin-top: 10px;"></div>
<div class="col-sm-1">
    <label class="control-label" for="Service Change(%)">Service Change(%):</label>

</div>
<div class="col-sm-1">
<input type="text" id="Service Change(%)" name="Service Change(%)" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="Purchase A/C No">Purchase A/C No:</label>

</div>
<div class="col-sm-1">
<input type="text" id="Purchase A/C No" name="Purchase A/C No" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="Sales A/C No">Sales A/C No:</label>

</div>
<div class="col-sm-1">
<input type="text" id="Sales A/C No" name="Sales A/C No" class="form-control">

</div>
<div class="col-sm-1">
    <label class="control-label" for="Service Y/N">Service Y/N:</label>

</div>
<div class="col-sm-3">
    <select id="Service Y/N" name="Service Y/N" class="form-control">
        <option>
        
        </option>
    </select>
</div>
<div class="col-sm-1">
    <label class="control-label" for="Misc.Sales A/C No">Misc.Sales A/C No:</label>

</div>
<div class="col-sm-1">
<input type="text" id="Misc.Sales A/C No:" name="Misc.Sales A/C No" class="form-control">
</div>
<div class="row form-group" style="margin-top: 10px;"></div>
<div class="col-sm-1"> 
    <input type="checkbox" id="ACTIVE" name="ACTIVE">
    <label class="control-label" for="ACTIVE">ACTIVE</label>
</div>
</div>
