<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
    <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
        <thead>
            <tr>
               
                <th class="col">Bank Id</th> 
                <th class="col">Name</th>
               

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" name="Code" id="Code" class="form-control">
                </td>
                <td>
                    <input type="text" name="Name" id="Name" class="form-control">
                </td>
                

            </tr>

        </tbody>
    </table>
</div>
  <div class="col-sm-1">
         <label class="control-label" for="code">Bank Code.</label>

  </div>
        <div class="col-sm-1">
           <input type="text" id="Bank Code" name="Bank Code" class="form-control">

        </div>
     <div class="col-sm-1">
         <label class="control-label" for="Bank Name">Bank Name</label>

</div>
        <div class="col-sm-3">
         <input type="text" id="Bank Name" name="Bank Name" class="form-control">

</div>

<div class="row form-group" style="margin-top: 10px;"></div>

   <div class="col-sm-1">
        <label class="control-label" for="Branch Name">Branch Name</label>

   </div>
    <div class="col-sm-3">
       <input type="text" id="Branch Name" name="Branch Name" class="form-control">

</div>
<div class="col-sm-1">
        <label class="control-label" for="Branch Name">Branch Name</label>

   </div>
    <div class="col-sm-3">
       <input type="text" id="Branch Name" name="Branch Name" class="form-control">

</div> 
    <div class="col-sm-1">
       <label class="control-label" for="City">City</label>

</div>
    <div class="col-sm-3">
        <input type="text" id="City" name="City" class="form-control">

</div>
<div class="row form-group" style="margin-top: 10px;"></div>
     <div class="col-sm-2">
    <input type="radio" id="Our Bank" name="Our Bank" >
    <label for="Our Bank" class="control-label" style="margin-left: 10px;">Our Bank</label>
    
    </div>
    
    <div class="col-sm-2">
        <input type="radio" id="Our Bank Branches" name="Our Bank Branches" >
        <label for="Our Bank Branches" class="control-label" style="margin-left: 10px;">Our Bank Branches</label>
        
        </div>
        <div class="col-sm-2">
            <input type="radio" id="City Bank" name="City Bank" >
            <label for="City Bank" class="control-label" style="margin-left: 10px;">City Bank</label>
            
            </div>
            <div class="col-sm-2">
                <input type="radio" id="Out Statation" name="Out Statation" >
                <label for="Out Statation" class="control-label" style="margin-left: 10px;">Out Statation</label>
                
                </div>
<div class="row form-group" style="margin-top: 10px;"></div>      
     <div class="col-sm-1"> 
        <input type="checkbox" id="ACTIVE" name="ACTIVE">
        <label class="control-label" for="ACTIVE">ACTIVE</label>
</div>
</div>