<div class="form-group">
    <input type="button" id="New" text="New" value="New" (click)="this.actionName('New');">&nbsp;
    <input type="button" id="Open" text="Open" value="Open" (click)="this.actionName('Open');">&nbsp;
    <input type="button" id="btnSave" name="btnSave" value="Save" text="Save" (click)="this.actionName('Save');">&nbsp;
    <input type="button" id="Find" text="Find" value="Find" (click)="this.actionName('Find');">&nbsp;
    <input type="button" id="First" text="First" value="First" (click)="this.actionName('First');">&nbsp;
    <input type="button" id="Next" text="Next" value="Next" (click)="this.actionName('Next');">&nbsp;
    <input type="button" id="Previous" text="Prev" value="Previous" (click)="this.actionName('Previous');">&nbsp;
    <input type="button" id="Last" text="Last" value="Last" (click)="this.actionName('Last');">&nbsp;
    <input type="button" id="Print" text="Print" value="Print" (click)="this.actionName('Print');">&nbsp;
    <input type="button" id="Cancel" text="Cancel" value="Cancel" (click)="this.actionName('Cancel');">&nbsp;
    <input type="button" id="Close" text="Close" value="Close" (click)="this.actionName('Close');">&nbsp;
</div>