<h2 style="text-align: center;font-weight: bold ;">TDS MASTER</h2>
<fieldset style="border: 1px black solid;margin: 10px 10px 10px 10px; ">
<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
        <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
            <thead>
                <tr>
                  <th class="col">TDSCD</th> 
                  <th class="col">C</th>
                  <th class="col">S</th> 
                  <th class="col">TDSCDTFROM</th>
                  <th class="col">TDSDTTO</th>
                </tr>
            </thead>
           <tbody>
                <tr>
                    <td>
                     <input type="text" name="Tdscd" id="Tdscd" class="form-control">
                    </td>
                    <td>
                      <input type="text" name="C" id="C" class="form-control">
                    </td>  
                    <td>
                      <input type="text" name="S" id="S" class="form-control">
                    </td>  
                    <td>
                      <input type="text" name="Tdscdtfrom" id="Tdscdtfrom" class="form-control">
                    </td>  
                    <td>
                      <input type="text" name="Tdsdtto" id="Tdsdtto" class="form-control">
                    </td>  
                </tr> 
           </tbody>
        </table>
    </div>  
    <div class="col-sm-9">
           <div class="row" id="row">
                <div class="col-sm-1">
                  <label class="control-label" for="code">Code</label>
                </div>
                 <div class="col-sm-1">
                  <input type="text" id="code" name="code" class="form-control">
                 </div>
                 <div class="col-sm-1">
                  <input type="text" id="code" name="code" class="form-control">
                 </div>
                 <div class="col-sm-1">
                  <label class="control-label" for="SrNo.">Sr No.</label>
                </div>
                 <div class="col-sm-1">
                  <input type="text" id="SrNo." name="SrNo." class="form-control">
                 </div>
            </div>
                <div class="row" id="row">
                    <div class="col-sm-1">
                      <label class="control-label" for="name">Name</label>
                    </div>
                    <div class="col-sm-3">
                       <input type="text" id="name" name="name" class="form-control">
                    </div>
               </div>
               <div class="row" id="row">
                 <div class="col-sm-2">
                   <label class="control-label" for="FromDate">From Date</label>
                 </div>
                 <div class="col-sm-2">
                    <input type="date" id="FromDate" name="FromDate" class="form-control">
                 </div>
                 <div class="col-sm-1">
                  <label class="control-label" for="ToDate">To Date</label>
                </div>
                <div class="col-sm-2">
                   <input type="date" id="ToDate" name="ToDate" class="form-control">
                </div>
                </div>
                <div class="row" id="row">
                  <div class="col-sm-1">
                    <label class="control-label" for="Rate%">Rate%</label>
                  </div>
                  <div class="col-sm-2">
                     <input type="text" id="Rate%" name="Rate%" class="form-control">
                  </div>
             </div>
             <div class="col-sm-1"> 
              <input type="checkbox" id="ACTIVE" name="ACTIVE">
              <label class="control-label" for="ACTIVE">ACTIVE</label>
            </div> 
     </div> 
</div>
</fieldset>