       
<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-3">
        <table class="table" style="display: block;overflow-x: auto;white-space: nowrap;margin-top: 10px;width: auto;" border="2px">
            <thead>
                <tr>
               
                    <th class="col">CODE</th> 
                    <th class="col">Type</th>
                   

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="text" name="Code" id="Code" class="form-control">
                    </td>
                <td>
                    <input type="text" name="Name" id="Name" class="form-control">
                </td>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-sm-1">
        <label class="control-label" for="code">Code.</label>

    </div>
    <div class="col-sm-1">
        <input type="text" id="code" name="code" class="form-control">

    </div>
    <div class="col-sm-1">
        <select id="code" name="code" class="form-control">
            <option>
            
            </option>
        </select>
    </div>
    <div class="col-sm-1">
        <label class="control-label" for="Type">Type</label>
    </div>
    <div class="col-sm-1">
        <select id="Type" name="Type" class="form-control">
            <option>
            
            </option>
        </select>
    </div>
    <div class="col-sm-3">
    <input type="text" id="Type" name="Type" class="form-control">
    </div>
</div>
<div class="row form-group" style="margin-top: 10px;">
    <div class="col-sm-1">
        <label for="LockDt." class="control-label">LockDt:</label>
    
    </div>
    <div class="col-md-2">
        <input type="date" id="LockDt" name="LockDt"  class="form-control"/>
    </div>
    <div class="col-sm-1">
        <label class="control-label" for="A/C.">A/C.</label>

    </div>
    <div class="col-sm-1">
        <input type="text" id="A/C" name="A/C" class="form-control">
    </div>

            <div class="col-sm-2">
                <label for="branchcode"  class="control-label">Branch code :</label>
            </div>
            <div class="col-sm-1">
                <select name="branchcode" id="branchcode" class="form-control">
                
                    <option class='option'>
                    </option>
                    </select>
            </div>

                <div class="col-sm-1">
                    <label class="control-label" for="Ver Branch">Ver Branch</label>
            
                </div>
                <div class="col-sm-1">
                    <input type="text" id="Ver Branch" name="Ver Branch" class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="control-label" for="Bank A/c No.">Bank A/c No.</label>
            
                </div>
                <div class="col-sm-1">
                    <input type="text" id="Bank A/c No." name="Bank A/c No." class="form-control">
                </div>
                <div class="col-sm-1">
                    <label class="control-label" for="O.D. Limit">O.D. Limit</label>
            
                </div>
                <div class="col-sm-1">
                    <input type="text" id="O.D. Limit" name="O.D. Limit" class="form-control">
                </div>

    <div class="col-sm-1"> 
        <input type="checkbox" id="ACTIVE" name="ACTIVE">
        <label class="control-label" for="ACTIVE">ACTIVE</label>
    </div>
</div>